#s-004cba93-ae6c-4239-a106-3de1fa170820 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_5 {
  position: absolute;
  top: 616px;
  left: 121px;
  width: 127px;
  height: 31px;
  background-color: #CC0000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_8 {
  position: absolute;
  top: 163px;
  left: 84px;
  width: 203px;
  height: 103px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 25px 25px 25px 25px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_9 {
  position: absolute;
  top: 330px;
  left: 84px;
  width: 203px;
  height: 103px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 25px 25px 25px 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_10 {
  position: absolute;
  top: 498px;
  left: 84px;
  width: 203px;
  height: 57px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 14px 14px 14px 14px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_11 {
  position: absolute;
  top: 102px;
  left: 230px;
  width: 141px;
  height: 561px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 227px;
  height: 667px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_3 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Line_1 {
  position: absolute;
  top: 368px;
  left: -67px;
  width: 578px;
  height: 18px;
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Label_291 {
  position: absolute;
  top: 364px;
  left: 204px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Label_291 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-UiA_header_hjem {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 103px;
  background-color: #CC0000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 42.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-UiA_header_hjem .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-UiA_header_hjem span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 42.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-UiA_header_hjem span#rtr-s-UiA_header_hjem_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 42.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_1 {
  position: absolute;
  top: 171px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_2 {
  position: absolute;
  top: 399px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_3 {
  position: absolute;
  top: 549px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_4 {
  position: absolute;
  top: 473px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_6 {
  position: absolute;
  top: 324px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_7 {
  position: absolute;
  top: 251px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}