#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 25px 25px 25px 25px;
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 25px 25px 25px 25px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}