#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Help {
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Button_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-004cba93-ae6c-4239-a106-3de1fa170820 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}