#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Button_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0e876c44-d11d-4dfd-8422-51a0029a6bee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}