#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Line_6 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-18a7e70d-a006-4028-9050-29fd03feb51b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}