#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-19060770-9b31-41e7-b688-e1e076870a35 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}