#s-20ad7d26-2f33-410b-b65c-316d4b5aa2ea #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20ad7d26-2f33-410b-b65c-316d4b5aa2ea #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-20ad7d26-2f33-410b-b65c-316d4b5aa2ea #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20ad7d26-2f33-410b-b65c-316d4b5aa2ea #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20ad7d26-2f33-410b-b65c-316d4b5aa2ea #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20ad7d26-2f33-410b-b65c-316d4b5aa2ea #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20ad7d26-2f33-410b-b65c-316d4b5aa2ea #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20ad7d26-2f33-410b-b65c-316d4b5aa2ea #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20ad7d26-2f33-410b-b65c-316d4b5aa2ea #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20ad7d26-2f33-410b-b65c-316d4b5aa2ea #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-20ad7d26-2f33-410b-b65c-316d4b5aa2ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}