#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Line_1 {
  rotation: 90.0;
  margin-left: 327px;
  margin-top: -328px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-26a34009-ba47-493d-88be-3b5397a5fe13 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}