#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Line_6 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Line_6 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2b4042fc-1164-4fb3-b492-e1ffa2a64c8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}