#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Table_1 {
  border-collapse: separate;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -ms-transform: rotate(0.0deg);
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}