#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Line_1 {
  rotation: 90.0;
  margin-left: 327px;
  margin-top: -328px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-33730764-9eaf-4861-b6a5-97d4d192af16 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}