#s-452621a7-4cca-4c59-afd8-f022c66659a7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-452621a7-4cca-4c59-afd8-f022c66659a7 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-452621a7-4cca-4c59-afd8-f022c66659a7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-452621a7-4cca-4c59-afd8-f022c66659a7 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=26) ;
  filter: alpha(opacity=26) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-452621a7-4cca-4c59-afd8-f022c66659a7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-452621a7-4cca-4c59-afd8-f022c66659a7 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-452621a7-4cca-4c59-afd8-f022c66659a7 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-452621a7-4cca-4c59-afd8-f022c66659a7 #s-Line_1 {
  rotation: 90.0;
  margin-left: 327px;
  margin-top: -328px;
}
#s-452621a7-4cca-4c59-afd8-f022c66659a7 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-452621a7-4cca-4c59-afd8-f022c66659a7 #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-452621a7-4cca-4c59-afd8-f022c66659a7 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-452621a7-4cca-4c59-afd8-f022c66659a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}