#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Line_1 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-47c240e0-8e90-42d7-b3c1-677369bc6914 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}