#s-5584f61c-0fed-4e35-83a8-730eca8f4449 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5584f61c-0fed-4e35-83a8-730eca8f4449 #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-5584f61c-0fed-4e35-83a8-730eca8f4449 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5584f61c-0fed-4e35-83a8-730eca8f4449 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5584f61c-0fed-4e35-83a8-730eca8f4449 #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5584f61c-0fed-4e35-83a8-730eca8f4449 #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5584f61c-0fed-4e35-83a8-730eca8f4449 #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-5584f61c-0fed-4e35-83a8-730eca8f4449 #s-Button_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5584f61c-0fed-4e35-83a8-730eca8f4449 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5584f61c-0fed-4e35-83a8-730eca8f4449 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}