#s-59d7998e-c713-40b2-a0d3-025fb74cb4aa #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59d7998e-c713-40b2-a0d3-025fb74cb4aa #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59d7998e-c713-40b2-a0d3-025fb74cb4aa #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-59d7998e-c713-40b2-a0d3-025fb74cb4aa #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59d7998e-c713-40b2-a0d3-025fb74cb4aa #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-59d7998e-c713-40b2-a0d3-025fb74cb4aa #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-59d7998e-c713-40b2-a0d3-025fb74cb4aa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}