#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}