#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-63574ae3-7f26-455d-9ca2-5b845b572605 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}