#s-673ff412-cab6-4d64-b394-186995e2113b #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Line_2 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-673ff412-cab6-4d64-b394-186995e2113b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}