#s-673ff412-cab6-4d64-b394-186995e2113b #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Line_2 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Line_2 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-673ff412-cab6-4d64-b394-186995e2113b #s-Rectangle_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-673ff412-cab6-4d64-b394-186995e2113b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}