#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=26) ;
  filter: alpha(opacity=26) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=26) ;
  filter: alpha(opacity=26) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Line_2 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-69150d1f-650d-4b40-a3b1-57d1c259540a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}