#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Line_1 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}