#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6cb16cac-50f7-4f08-9bf9-05fdb423fa60 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}