#s-7259c357-2848-499a-bf2e-925bd84f56f3 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7259c357-2848-499a-bf2e-925bd84f56f3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7259c357-2848-499a-bf2e-925bd84f56f3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7259c357-2848-499a-bf2e-925bd84f56f3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7259c357-2848-499a-bf2e-925bd84f56f3 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7259c357-2848-499a-bf2e-925bd84f56f3 #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7259c357-2848-499a-bf2e-925bd84f56f3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}