#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Help {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Button_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Line_1 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Tilbakepil {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -2px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}