#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Line_1 {
  rotation: 90.0;
  margin-left: 323px;
  margin-top: -324px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-768a2d18-b12c-43d2-b279-af5fca5c8e70 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}