#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Help {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Line_2 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}