#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Help {
  position: absolute;
  top: 618px;
  left: 120px;
  width: 133px;
  height: 34px;
  background-color: #C60C30;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Help .valign {
  vertical-align: middle;
  text-align: center;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Help span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Help span#rtr-s-Help_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Help span#rtr-s-Help_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Text_1 {
  position: absolute;
  top: 143px;
  left: 113px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Arial,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Text_2 {
  position: absolute;
  top: 314px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Arial,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Text_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_1 {
  position: absolute;
  top: 365px;
  left: 72px;
  width: 237px;
  height: 63px;
  background-color: #C60C30;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 16px 16px 16px 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Category_1 {
  position: absolute;
  top: 243px;
  left: 72px;
  width: 241px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Category_1 .valign {
  width: 213px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Button_1 {
  position: absolute;
  top: 384px;
  left: 91px;
  width: 203px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Button_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 227px;
  height: 667px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Button_2 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Line_2 {
  position: absolute;
  top: 368px;
  left: -67px;
  width: 578px;
  height: 18px;
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Label_292 {
  position: absolute;
  top: 364px;
  left: 204px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Label_292 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Label_292 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Label_292 span#rtr-s-Label_292_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-UiA_header_hjem {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 103px;
  background-color: #C60C30;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 42.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-UiA_header_hjem .valign {
  vertical-align: middle;
  text-align: center;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-UiA_header_hjem span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 42.0pt;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-UiA_header_hjem span#rtr-s-UiA_header_hjem_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 42.0pt;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_3 {
  position: absolute;
  top: 318px;
  left: 26px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_4 {
  position: absolute;
  top: 468px;
  left: 26px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_6 {
  position: absolute;
  top: 392px;
  left: 26px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Label_291 {
  position: absolute;
  top: 19px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Label_291 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_7 {
  position: absolute;
  top: 243px;
  left: 26px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_11 {
  position: absolute;
  top: 102px;
  left: 230px;
  width: 141px;
  height: 561px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-831a05d1-6f1a-4f55-a7e3-ded40409abf6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}