#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}