#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-84191c72-deac-4b85-b485-51bafde5eb8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}