#s-91972b98-e3c8-4c4a-88b1-5b35a8cc94be #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-91972b98-e3c8-4c4a-88b1-5b35a8cc94be #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-91972b98-e3c8-4c4a-88b1-5b35a8cc94be #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-91972b98-e3c8-4c4a-88b1-5b35a8cc94be #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-91972b98-e3c8-4c4a-88b1-5b35a8cc94be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}