#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_1 {
  rotation: 90.0;
  margin-left: 327px;
  margin-top: -328px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}