#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Table_1 {
  border-collapse: separate;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_2 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_2 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_3 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_3 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_4 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_4 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_5 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Line_5 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Button_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Button_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-945ec712-ede4-455d-a3b7-e009497f7adf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}