#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_6 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_294 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}