#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Table_1 {
  border-collapse: separate;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_2 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_2 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_3 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_3 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_4 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_4 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_5 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_5 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_6 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Line_6 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Button_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c #s-Label_294 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-99e4d716-2c87-4f4d-83fa-cd6c8475f43c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}