#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a #s-Text_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9cbfa62f-59b3-4f7d-8565-1e2218b0810a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}