#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Help {
  position: absolute;
  top: 618px;
  left: 120px;
  width: 133px;
  height: 34px;
  background-color: #CC0000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Help .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Help span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Help span#rtr-s-Help_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Help span#rtr-s-Help_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Text_1 {
  position: absolute;
  top: 143px;
  left: 113px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Arial,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Text_2 {
  position: absolute;
  top: 314px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Arial,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Text_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_1 {
  position: absolute;
  top: 365px;
  left: 72px;
  width: 237px;
  height: 63px;
  background-color: #CC0000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 16px 16px 16px 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Category_1 {
  position: absolute;
  top: 243px;
  left: 72px;
  width: 241px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Category_1 .valign {
  width: 213px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Button_1 {
  position: absolute;
  top: 384px;
  left: 91px;
  width: 203px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Button_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 227px;
  height: 667px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Button_2 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Line_2 {
  position: absolute;
  top: 369px;
  left: -67px;
  width: 578px;
  height: 18px;
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-UiA_header_hjem {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 103px;
  background-color: #CC0000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 42.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-UiA_header_hjem .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-UiA_header_hjem span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 42.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-UiA_header_hjem span#rtr-s-UiA_header_hjem_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 42.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Label_292 {
  position: absolute;
  top: 364px;
  left: 204px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Label_292 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Label_292 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Label_292 span#rtr-s-Label_292_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Label_291 {
  position: absolute;
  top: 19px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Label_291 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_10 {
  position: absolute;
  top: 171px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_11 {
  position: absolute;
  top: 399px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_12 {
  position: absolute;
  top: 549px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_13 {
  position: absolute;
  top: 473px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_14 {
  position: absolute;
  top: 324px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_15 {
  position: absolute;
  top: 251px;
  left: 27px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_15 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9fc7925a-9103-4c2f-8d55-e6ec72cd50b2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}