#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_5 {
  position: absolute;
  top: 616px;
  left: 121px;
  width: 127px;
  height: 31px;
  background-color: #CC0000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 369px;
  height: 663px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_1 {
  position: absolute;
  top: 119px;
  left: 90px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_100 {
  position: absolute;
  top: 474px;
  left: 189px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_100 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_100 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_100 span#rtr-s-Label_100_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Table_1 {
  position: absolute;
  top: 249px;
  left: 30px;
  width: 314px;
  height: 215px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  box-shadow: none;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_1 {
  padding-left: 12px;
  width: 59px;
  height: 66px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_4 {
  padding-left: 12px;
  width: 88px;
  height: 66px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_7 {
  padding-left: 12px;
  width: 88px;
  height: 66px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_10 {
  padding-left: 12px;
  width: 29px;
  height: 66px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_2 {
  padding-left: 12px;
  width: 59px;
  height: 66px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_5 {
  padding-left: 12px;
  width: 88px;
  height: 66px;
  background-color: #6624FB;
  background-image: none;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_5 span#rtr-s-Text_cell_5_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_8 {
  padding-left: 12px;
  width: 88px;
  height: 66px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_11 {
  padding-left: 12px;
  width: 29px;
  height: 66px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_3 {
  padding-left: 12px;
  width: 59px;
  height: 74px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_3 span#rtr-s-Text_cell_3_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_6 {
  padding-left: 12px;
  width: 88px;
  height: 74px;
  background-color: #6624FB;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_9 {
  padding-left: 12px;
  width: 88px;
  height: 74px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_12 {
  padding-left: 12px;
  width: 29px;
  height: 74px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_12 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Button_3 {
  position: absolute;
  top: 163px;
  left: 218px;
  width: 119px;
  height: 50px;
  background-color: #099F32;
  background-image: none;
  opacity: 0.26;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Button_3 span#rtr-s-Button_3_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_290 {
  position: absolute;
  top: 268px;
  left: 328px;
  padding-left: 4px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_290 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_290 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 24.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_290 span#rtr-s-Label_290_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_2 {
  position: absolute;
  top: 535px;
  left: 88px;
  width: 198px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_2 span {
  color: #666666;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Button_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 227px;
  height: 667px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Button_2 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Line_1 {
  position: absolute;
  top: 368px;
  left: -67px;
  width: 578px;
  height: 18px;
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_292 {
  position: absolute;
  top: 364px;
  left: 204px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_292 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_292 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Label_292 span#rtr-s-Label_292_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-UiA_header_hjem {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 103px;
  background-color: #CC0000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 42.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-UiA_header_hjem .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-UiA_header_hjem span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 42.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-UiA_header_hjem span#rtr-s-UiA_header_hjem_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 42.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_3 {
  position: absolute;
  top: 318px;
  left: 26px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_4 {
  position: absolute;
  top: 468px;
  left: 26px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_6 {
  position: absolute;
  top: 392px;
  left: 26px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_7 {
  position: absolute;
  top: 243px;
  left: 26px;
  width: 155px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a4c3ae6b-d38f-4b85-bca9-12ff15cae899 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}