#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}