#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a4f084ca-8306-4a13-bbef-b78968d5ea0d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}