#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=26) ;
  filter: alpha(opacity=26) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Line_1 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a57e56f1-0392-48fa-9ce4-4bb23a8f7b18 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}