#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}