#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a8a399af-0cbb-498e-9ae5-8300434609d8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}