#s-ad7617ee-83c5-4c1c-a3ae-65d79c33c759 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ad7617ee-83c5-4c1c-a3ae-65d79c33c759 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ad7617ee-83c5-4c1c-a3ae-65d79c33c759 #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-ad7617ee-83c5-4c1c-a3ae-65d79c33c759 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ad7617ee-83c5-4c1c-a3ae-65d79c33c759 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ad7617ee-83c5-4c1c-a3ae-65d79c33c759 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ad7617ee-83c5-4c1c-a3ae-65d79c33c759 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ad7617ee-83c5-4c1c-a3ae-65d79c33c759 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ad7617ee-83c5-4c1c-a3ae-65d79c33c759 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ad7617ee-83c5-4c1c-a3ae-65d79c33c759 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}