#s-b794ab7f-d27b-4bf6-8fcb-12e484fbd0e9 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b794ab7f-d27b-4bf6-8fcb-12e484fbd0e9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b794ab7f-d27b-4bf6-8fcb-12e484fbd0e9 #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-b794ab7f-d27b-4bf6-8fcb-12e484fbd0e9 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b794ab7f-d27b-4bf6-8fcb-12e484fbd0e9 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b794ab7f-d27b-4bf6-8fcb-12e484fbd0e9 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b794ab7f-d27b-4bf6-8fcb-12e484fbd0e9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}