#s-baff60f2-e2f4-4cd0-ae22-25a6fff3ab7b #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-baff60f2-e2f4-4cd0-ae22-25a6fff3ab7b #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-baff60f2-e2f4-4cd0-ae22-25a6fff3ab7b #s-Line_1 {
  rotation: 90.0;
  margin-left: 327px;
  margin-top: -328px;
}
#s-baff60f2-e2f4-4cd0-ae22-25a6fff3ab7b #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-baff60f2-e2f4-4cd0-ae22-25a6fff3ab7b #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-baff60f2-e2f4-4cd0-ae22-25a6fff3ab7b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-baff60f2-e2f4-4cd0-ae22-25a6fff3ab7b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}