#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f #s-Help {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c70bdd0c-27c9-441e-bc77-62fb42663f9f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}