#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Table_1 {
  border-collapse: separate;
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Line_2 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Line_2 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Line_3 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Line_3 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Line_4 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Line_4 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Line_5 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Line_5 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Line_6 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Line_6 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Label_294 {
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cfe14d31-c9d8-4eff-845b-2799e64c848a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}