#s-dca31d0d-bb63-4593-83e9-edbd6c599268 #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-dca31d0d-bb63-4593-83e9-edbd6c599268 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-dca31d0d-bb63-4593-83e9-edbd6c599268 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dca31d0d-bb63-4593-83e9-edbd6c599268 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dca31d0d-bb63-4593-83e9-edbd6c599268 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dca31d0d-bb63-4593-83e9-edbd6c599268 #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dca31d0d-bb63-4593-83e9-edbd6c599268 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}