#s-dd0c96ca-0040-46a7-8a38-a7e00f6ff78c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd0c96ca-0040-46a7-8a38-a7e00f6ff78c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd0c96ca-0040-46a7-8a38-a7e00f6ff78c #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-dd0c96ca-0040-46a7-8a38-a7e00f6ff78c #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd0c96ca-0040-46a7-8a38-a7e00f6ff78c #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd0c96ca-0040-46a7-8a38-a7e00f6ff78c #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dd0c96ca-0040-46a7-8a38-a7e00f6ff78c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}