#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dd7a92a1-bcc1-4581-81d0-6e9a71c0a250 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}