#s-ddac6168-27e7-42d5-9aa4-1df087b6b13f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddac6168-27e7-42d5-9aa4-1df087b6b13f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddac6168-27e7-42d5-9aa4-1df087b6b13f #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-ddac6168-27e7-42d5-9aa4-1df087b6b13f #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddac6168-27e7-42d5-9aa4-1df087b6b13f #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddac6168-27e7-42d5-9aa4-1df087b6b13f #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ddac6168-27e7-42d5-9aa4-1df087b6b13f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}