#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Line_2 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e1187ff4-bbef-4306-9ef6-16aabf49f4cc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}