#s-e4176595-72af-4caf-9a45-2bf8b797ae1c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e4176595-72af-4caf-9a45-2bf8b797ae1c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e4176595-72af-4caf-9a45-2bf8b797ae1c #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-e4176595-72af-4caf-9a45-2bf8b797ae1c #s-Line_1 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(90.0deg);
}
#s-e4176595-72af-4caf-9a45-2bf8b797ae1c #s-UiA_header_hjem {
  -ms-transform: rotate(0.0deg);
}
#s-e4176595-72af-4caf-9a45-2bf8b797ae1c #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-e4176595-72af-4caf-9a45-2bf8b797ae1c #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e4176595-72af-4caf-9a45-2bf8b797ae1c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}