#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Line_1 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -324px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e5910452-21ba-4f4b-a38a-fb3af8e0d8b6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}