#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Line_2 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e6e8c0cd-a7c6-4102-8801-dd6847605a3d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}