#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Line_1 {
  rotation: 90.0;
  margin-left: 279px;
  margin-top: -280px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-UiA_header_hjem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f6331e33-401f-44f9-8168-5862895a1c86 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}